.auth_screen {
    display: none;
    width:100%;
    min-height:100vh;
    position:fixed;
    top:0px;
}

.close_area {
    position: absolute;
    background-color: rgba(51,51,51,0.6);
    width: 100%;
    min-height: 100%;
}

.auth_form {
    width: 304px;
    height: 394px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.auth_header {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin-top: 36px;
    color: #333333;
}

.auth_form input {
    width: 232px;
    margin-top: 19px;
}

.auth_checkbox {
    margin-left: -125px;
    margin-top: 23px;
    position: relative;
    padding-left: 25px
}

.auth_error_message {
    height: 40px;
    width: 232px;
    margin-top: 40px;
    overflow: hidden;
    text-align: center;
    color: #e5261e;
    font-size: 14px;
}

.auth_submit {
    margin-top: 31px;
}

.checkbox_input {
	display:none;
}

.checkbox_label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.checkbox_label:after {
	content:'';
	display:block;
	height:14px;
	width:14px;
    border:1px solid #333333;
    border-radius: 4px;
    position: absolute;
	top:0;
	left:0;
}

.checkbox_input:checked + .checkbox_label:after {
    content: "\2713";
    color: #E5261E;
    text-align: center;
    line-height: 16px;
}