

@import url(base.grid.css);

/* films */
@import url(header.block.css);
@import url(tab.changer.block.css);
@import url(newest.block.css);
@import url(genres.block.css);

/* TV's */
@import url(jquery.mCustomScrollbar.css);
@import url(shedule.block.css);
@import url(channels.item.css);

/* footer */
@import url(footer.block.css);

/* js */
@import url(auth.screen.css);

/* media querries */
@import url(media.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

 
.isVisible {
    display: none;
}